// Custom styles
.gwlandscape-menu.navbar {
  background: $white;
  background: linear-gradient(180deg, rgba(255,255,255,1) 95%, rgba(255,255,255,0) 100%);
}

.gwlandscape-menu.navbar .navbar-nav .nav-link {
  padding: 0.5rem 1rem 1rem 1rem;
  margin: auto 1rem;
  color: $blue-900;

  &:hover {
    box-shadow: inset 0 -5px 0 0 orange;
    color: $blue;
  }
}
