// Custom styles
.navbar-brand-link {
   font-family: $font-family-special;

}


.gwlandscape-menu.navbar .navbar-nav .nav-link {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem 1rem 1rem 1rem;
  margin: auto 1rem;
  color: $blue-900;

  &:hover {
    box-shadow: inset 0 -5px 0 0 orange;
    color: $blue;
  }
}
