//GWCloud colours

// Greys
$gray-100: #EFF2F6;
$gray-200: #e5eaf0;
$gray-300: #AFBACB;
$gray-400: #6C819D;
$gray-500: #58667E;
$gray-600: #44546A;
$gray-700: #364963;
$gray-800: #303D4F;
$gray-900: #191E24;

$blue: #55B6FC;

// Primary Blues
$blue-100: #E6F5FE; 
$blue-200: #CFEBFC;
$blue-300: #B9E1FE;
$blue-400: #91D3FD;
$blue-500: $blue;
$blue-600: #059CFA;
$blue-700: #0477BF;
$blue-800: #035996;
$blue-900: #043967;

$white: #FAFDFF;
$black: #02244B;

// Accents
$accent-orange: #D98236;
$accent-red: #D94141;

// Primary Blue

$body-color: $black;
$body-bg: $gray-100;

$primary: $blue-600;
$link-color: $accent-orange;
